.footer {
    background-color: #1c1c1c;
    color: white;
    text-align: center;
    padding: 30px 0;
}

.titulo {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.icones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 15px;
}

.imgRede {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.contato {
    font-size: 14px;
    color: #ccc;
}